<header class="main__header">
  <!-- logo start -->
  <div class="main__header_logo">
    <svg
      id="main__header_logo_svg"
      x="0px"
      y="0px"
      viewBox="0 0 155 50"
      style="enable-background: new 0 0 155 50"
      xml:space="preserve"
    >
      <path
        d="M15.1,9.8h7.6v17.4l7.5-9.6h9.3L29.2,29.4l10.4,11.8h-9.4l-7.5-9.9v9.9h-7.6V9.8z"
      />
      <path
        d="M41.7,11.1c0-2.2,1.8-4,4.5-4c2.7,0,4.5,1.7,4.5,4c0,2.2-1.8,3.9-4.5,3.9C43.6,15.1,41.7,13.3,41.7,11.1z M42.5,17.5H50
            v23.7h-7.6V17.5z"
      />
      <path
        d="M73.1,23.3L62.6,35.2h10.7v6H54.1v-5.8l10.3-11.9H54.2v-6h18.9V23.3z"
      />
      <path
        d="M76.8,11.1c0-2.2,1.8-4,4.5-4c2.7,0,4.5,1.7,4.5,4c0,2.2-1.8,3.9-4.5,3.9C78.6,15.1,76.8,13.3,76.8,11.1z M77.5,17.5h7.6
            v23.7h-7.6V17.5z"
      />
      <path
        d="M91.7,23.6h-3v-6h3v-5.8h7.6v5.8h5v6h-5v9.5c0,1.4,0.6,2,2.3,2h2.7v6.2h-3.9c-5.1,0-8.7-2.1-8.7-8.2V23.6z"
      />
      <path
        d="M119.8,41.6c-7.3,0-12.8-4.7-12.8-12.2s5.6-12.2,12.8-12.2c7.3,0,12.8,4.7,12.8,12.2S127.1,41.6,119.8,41.6z M119.8,35.3
            c2.7,0,5.2-1.9,5.2-5.9c0-4-2.5-5.9-5.1-5.9c-2.7,0-5.1,1.9-5.1,5.9C114.7,33.4,117,35.3,119.8,35.3z"
      />
    </svg>
  </div>
  <!-- logo end -->
  <!-- Navigation List start-->
  <nav class="main_header_nav">
    <!-- Navigation List Items start-->
    <ul class="main__header_nav-list">
      <li class="talk_header_nav-list-item">
        <a href="/"> <i class="fa fa-chess-rook"></i> Home</a>
      </li>
      <li class="main_header_nav-list-item">
        <a href="/projects"> <i class="fa fa-lightbulb"></i> Projects</a>
      </li>
      <li class="main_header_nav-list-item">
        <a href="/blog"> <i class="fa fa-book"></i> Blog</a>
      </li>
      <li class="talk_header_nav-list-item">
        <a href="/talks"> <i class="fa fa-comment-dots"></i> Talks</a>
      </li>
    </ul>
    <!-- Navigation List Items end -->
  </nav>
  <!-- Naviagtion List end -->
</header>
