<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/project.css" />
    <link rel="stylesheet" href="css/blog.css" />
    <link rel="stylesheet" href="css/talk.css" />
    <link rel="stylesheet" href="css/fontawesome/css/all.css" />
    <script defer src="js/indexApp.js"></script>
    <script defer src="js/projectApp.js"></script>
    <script defer src="js/blogApp.js"></script>
    <script defer src="js/talkApp.js"></script>
    <title><%= pageTitle %></title>
  </head>
