@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,900;1,100;1,200;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Poppins", sans-serif;
}
#main__body {
  overflow-x: hidden;
  background: whitesmoke;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 250, 154, 0.486);
}
.main__main {
  background-color: whitesmoke;
}

/* ***************** HOMEPAGE ************** */
/* Main Header */
.main__header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 1.2rem;
  background-color: rgb(252, 248, 252);
}
.main__header_logo {
  font-weight: 900;
  font-size: 1.6rem;
}
#main__header_logo_svg {
  padding: 0 50px;
}
.main__divider {
  height: 0.2rem;
  width: 100%;
  background-color: rgba(0, 250, 154, 0.486);
}
/* Main Header Navigation */
.main__header_nav-list {
  display: flex;
  justify-content: space-around;
  margin: 0px 20px;
}
.hamburger__container {
  display: flex;
  align-items: flex-end;
  margin-right: -1rem;
  flex-direction: column-reverse;
  cursor: pointer;
  outline: none;
}
.hamburger1 {
  width: 30px;
  height: 6px;
  border-radius: 8px;
  background-color: black;
  margin-bottom: 5px;
}
.hamburger1.toggled {
  animation: hamburger1 1s linear;
}
@keyframes hamburger1 {
  0% {
    width: 30px;
  }
  50% {
    width: 35px;
  }
}
.hamburger2 {
  width: 25px;
  height: 6px;
  border-radius: 8px;
  background-color: black;
  margin-bottom: 5px;
}
.hamburger2.toggled {
  animation: hamburger2 1s linear;
}
@keyframes hamburger2 {
  0% {
    width: 25px;
  }
  50% {
    width: 30px;
  }
}
.main_header_nav {
  display: none;
}
.mobile_header_nav {
  display: none;
}
.mobile_header_nav.open {
  animation-name: dropdown;
  animation-duration: 1s;
  position: absolute;
  background-color: whitesmoke;
  top: 74px;
  right: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  height: 100%;
  z-index: 100000;
}
@keyframes dropdown {
  from {
    top: 74px;
    opacity: 0;
  }
}
.mobile_header_nav.open ul {
  display: flex;
  flex-wrap: wrap;
}
.mobile_header_nav.open ul li {
  list-style: none;
  margin: 15px 10px;
  background-color: rgba(0, 250, 154, 0.486);
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  color: black;
  text-decoration: none;
}
.mobile_header_nav.open ul li a {
  color: black;
  text-decoration: none;
}
.main__header_logo #main__header_logo_svg path:nth-child(6) {
  fill: transparent;
  stroke-width: 2;
  stroke: rgb(10, 10, 10);
  stroke-dasharray: 1050;
  stroke-dashoffset: 1050;
  animation: animate-kizito 10s linear infinite;
}

@keyframes animate-kizito {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 400;
  }
  80% {
    stroke-dashoffset: 800;
  }
  100% {
    stroke-dashoffset: 1050;
    fill: rgba(0, 250, 154, 0.486);
  }
}

/* Contact */
#main_profile_contact .open-message-panel {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: black;
  color: whitesmoke;
  height: 60px;
  width: 60px;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
}
i.fa.fa-paper-plane.open-message-panel {
  position: absolute;
  right: -170px;
}

h4.open-message-panel-text {
  display: none;
}
/* Social Media Links */
.main__profile-footer_social {
  bottom: 0;
}
.main__profile-footer_social ul {
  position: absolute;
  bottom: 20px;
  left: -185px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  background-color: whitesmoke;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.178);
}

.main__profile-footer_social ul li span {
  display: none;
}
.main__profile-footer_social ul li i {
  display: block;
  width: 50px;
  height: 50px;
  padding: 20px;
  transition: all 0.5s linear;
}
.main__profile-footer_social ul li i:hover {
  background-color: rgba(0, 250, 154, 0.486);
  transition: all 0.52s linear;
}

/* End of Social Media */

/* Projects */
.project__main {
  background-color: white;
}
.project__container {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  background-color: whitsmoke;
}
.project__profile_card {
  text-align: center;
  position: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(252, 248, 252);
  border-radius: 8px;
  margin: 20px 0px;
  padding: 2px 5px;
  width: 100%;
  height: 120px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.178);
}
.project__profile_card__body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project__profile_card img {
  margin: auto 0;
  height: 100px;
  width: 100px;
}

/* Profile Card Image */
.project__profile_card__img {
  border-radius: 50%;
}
div.project__card {
  position: absolute;
  display: flex;
  max-width: 100vw;
  left: 10px;
  right: 10px;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  background: transparent;
}
.project__card_items {
  width: 100%;
  margin-bottom: 50px;
}
.project__card_items:last-child {
  margin-bottom: 100px;
}
.project__details .project__authors,
.project__details .project__tech {
  font-size: 12px;
}
.project__item-1 img,
.project__item-7 img {
  width: 100%;
  object-fit: unset;
}

/* Project Footer */

.project__profile-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}
.project__profile-footer_social {
  margin-top: 50px;
  bottom: 10px;
}
.project__profile-footer_social ul {
  position: absolute;
  left: -20px;
  bottom: 10px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  background-color: whitesmoke;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.178);
}

.project__profile-footer_social ul li span {
  display: none;
}
.project__profile-footer_social ul li i {
  display: block;
  width: 50px;
  height: 50px;
  padding: 20px;
  transition: all 0.5s linear;
}
.project__profile-footer_social ul li i:hover {
  background-color: rgba(0, 250, 154, 0.486);
  transition: all 0.52s linear;
}

/* Project end */

/* Blog start */

.blog__main {
  background-color: white;
  position: relative;
}
.blog__container {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  background-color: whitsmoke;
}
.blog__profile_card {
  text-align: center;
  position: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(252, 248, 252);
  border-radius: 8px;
  margin: 20px 0px;
  padding: 2px 5px;
  width: 100%;
  height: 120px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.178);
}
.blog__profile_card__body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.blog__profile_card img {
  margin: auto 0;
  height: 100px;
  width: 100px;
}

/* Profile Card Image */
.blog__profile_card__img {
  border-radius: 50%;
}
div.blog__card {
  position: absolute;
  display: flex;
  max-width: 100vw;
  left: 20px;
  right: 20px;
  flex-direction: column;
  align-items: center;
  margin: unset;
  padding: unset;
  margin-top: 160px;
  background: transparent;
}
.blog__card_items {
  width: 100%;
  margin-bottom: 50px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.178);
}
.blog__card_items img {
  filter: opacity(80%);
  width: 100%;
}
.blog__card_items:hover img {
  filter: opacity(50%);
  transition: all 0.5s ease-in;
}
div.blog__card_items {
  padding: unset;
}
.blog__card_items:last-child {
  margin-bottom: 140px;
}
.blog__details {
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
}

.blog__details .blog__authors,
.blog__details .blog__tech {
  font-size: 10px;
}
.blog__item-1 img,
.blog__item-7 img {
  width: 100%;
  object-fit: unset;
}
.blog__details:hover {
  color: rgba(0, 0, 0, 0.747);
  transition: all 0.5s ease-in;
}
/* Blog Footer */

.blog__profile-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}
.blog__profile-footer_social {
  margin-top: 50px;
  bottom: 10px;
}
.blog__profile-footer_social ul {
  position: absolute;
  left: -20px;
  bottom: 10px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  background-color: whitesmoke;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.178);
}

.blog__profile-footer_social ul li span {
  display: none;
}
.blog__profile-footer_social ul li i {
  display: block;
  width: 50px;
  height: 50px;
  padding: 20px;
  transition: all 0.5s linear;
}
.blog__profile-footer_social ul li i:hover {
  background-color: rgba(0, 250, 154, 0.486);
  transition: all 0.52s linear;
}

/* Talk */
.talk__main {
  background-color: white;
}
.talk__container {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  background-color: whitsmoke;
}
.talk__profile_card {
  text-align: center;
  position: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(252, 248, 252);
  border-radius: 8px;
  margin: 20px 0px;
  padding: 2px 5px;
  width: 100%;
  height: 120px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.178);
}
.talk__profile_card__body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.talk__profile_card img {
  margin: auto 0;
  height: 100px;
  width: 100px;
}
.talk__profile_card__img {
  border-radius: 50%;
}
div.talk__card {
  position: absolute;
  display: flex;
  max-width: 100vw;
  left: 20px;
  right: 20px;
  flex-direction: column;
  align-items: center;
  margin: unset;
  padding: unset;
  margin-top: 160px;
  background: transparent;
}
.talk__card_items {
  width: 100%;
  margin-bottom: 50px;
}
.talk__card_items img {
  filter: opacity(80%);
  width: 100%;
}
.talk__card_items:hover img {
  filter: opacity(50%);
  transition: all 0.5s ease-in;
}

.talk__card_items:last-child {
  margin-bottom: 140px;
}
.talk__details {
  display: flex;
  align-self: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.talk__details .blog__authors,
.talk__details .blog__tech {
  font-size: 10px;
}
.talk__item-1 img,
.talk__item-7 img {
  width: 100%;
  object-fit: unset;
}
/* Blog Footer */
.main__profile-footer_social {
  left: 180px;
}
.talk__profile-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}
.talk__profile-footer_social {
  margin-top: 50px;
  bottom: 10px;
}
.talk__profile-footer_social ul {
  position: absolute;
  left: -20px;
  bottom: 10px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  background-color: whitesmoke;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.178);
}

.talk__profile-footer_social ul li span {
  display: none;
}
.talk__profile-footer_social ul li i {
  display: block;
  width: 50px;
  height: 50px;
  padding: 20px;
  transition: all 0.5s linear;
}
.talk__profile-footer_social ul li i:hover {
  background-color: rgba(0, 250, 154, 0.486);
  transition: all 0.52s linear;
}
/* Messenger */

.main__profile_contact_panel {
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0;
  height: 400px;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-blend-mode: screen;
  display: none;
  text-align: left;
  padding: 20px;
  animation-name: showup;
  animation-duration: 1s;
}
